{:duct.core/project-ns  phoneq
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/site {}
 ;; :duct.module.web/api {}
 ;; :duct.module/sql
 ;; {:database-url "jdbc:postgresql://localhost:5432/xxx"}

 :duct.module/cljs
 {:main phoneq.client.core
  :source-paths ["src/cljs"]}

 :duct.module/ataraxy
 {"/" [:home/index]
  "/speaking" [:home/speaking]
  "/dictation" [:home/dictation]
  "/settings" [:home/settings]}
 ;; :duct.router/ataraxy
 ;; {:routes {"/" [:home/index]}
 ;;  :handlers {:home/index #ig/ref :phoneq.handler.home/index}}

 :phoneq.handler.home/index {}
 :phoneq.handler.home/speaking {}
 :phoneq.handler.home/dictation {}
 :phoneq.handler.home/settings {}
 }
