{:duct.core/environment :development
 :duct.core/include ["phoneq/config"]

 :duct.module/cljs
 {:main phoneq.client.core
  :source-paths ["dev/src"]}

 ;; :duct.module/sql
 ;; {:database-url "jdbc:postgresql://localhost:5432/xxx"}
 }
